---
- name: Install Nginx on Amazon Linux
  hosts: amazon
  become: true
  gather_facts: true

  tasks:
    - name: Install nginx (Amazon Linux)
      ansible.builtin.yum:
        name: nginx
        state: present

    - name: Start nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true


- name: Install Nginx on Ubuntu
  hosts: ubuntu
  become: true
  gather_facts: true

  tasks:
    - name: Install nginx (Ubuntu)
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: true

    - name: Start nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true
