name: Install Nginx
hosts: web 
becomee: true
gather_facts: true

tasks:
  - name: install nginx
    ansible.builtin.apt:
      - name:
        - nginx
        state: present
          when ansible_facts.os_family == "Debian"
  
  - name: install nginx
    ansible.builtin.yum:
      - name:
        - nginx
        state: present
          when ansible_facts.os_family == "RedHat"