name: Terraform + Ansible Deploy

on:
  workflow_dispatch:
    inputs:
        tf_actions:
          description: 'terrsform actions'
          required: true
          default: 'apply'
          type: choice
          options:
            - apply
            - destroy
          
jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-2

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform 
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var="key_name=${{ secrets.EC2_KEY_NAME }}"

      - name: Terraform Apply
        working-directory: terraform
        if: github.event.inputs.tf_actions == 'apply'
        run: |
          terraform apply -auto-approve \
            -var="key_name=${{ secrets.EC2_KEY_NAME }}"
        
      - name: Terraform Destroy
        if: github.event.inputs.tf_actions == 'destroy'
        working-directory: terraform
        run: |
          terraform destroy -auto-approve \
            -var="key_name=${{ secrets.EC2_KEY_NAME }}" 

      - name: Get Terraform Outputs
        id: tf_outputs
        working-directory: terraform
        run: |
         AMAZON_IPS=$(terraform output -json amazon_linux_ips | jq -r '. | join(",")')
         UBUNTU_IPS=$(terraform output -json ubuntu_ips | jq -r '. | join(",")')
         echo "AMAZON_IPS=$AMAZON_IPS" >> $GITHUB_ENV
         echo "UBUNTU_IPS=$UBUNTU_IPS" >> $GITHUB_ENV

         - name: Debug Terraform Outputs
              run: |
                 echo "Amazon Linux IPs: $AMAZON_IPS"
                 echo "Ubuntu IPs: $UBUNTU_IPS"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Ansible
        run: |
          python -m pip install --upgrade --user pip
          python -m pip install --user ansible
          export PATH=$HOME/.local/bin:$PATH

      - name: Configure SSH
        run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.EC2_PRIVATE_KEY }}" > ~/.ssh/ec2_key.pem
            chmod 400 ~/.ssh/ec2_key.pem


      - name: Generate dynamic inventory
        working-directory: terraform
        run: |
            mkdir -p ../ansible
            echo "[amazon]" > ../ansible/inventory.ini
            terraform output -json amazon_linux_ips \
            | jq -r '.[] | "\(. ) ansible_user=ec2-user"' \
            >> ../ansible/inventory.ini

            echo "[ubuntu]" >> ../ansible/inventory.ini
            terraform output -json ubuntu_ips \
            | jq -r '.[] | "\(. ) ansible_user=ubuntu"' \
            >> ../ansible/inventory.ini   

      - name: Test Ansible connectivity
        run: |
            ANSIBLE_HOST_KEY_CHECKING=False \
            ansible all -i ansible/inventory.ini -m ping
              chmod 400 ~/.ssh/ec2_key.pem


      - name: Run Ansible Playbook
        run: |
        
            ansible-playbook -i ansible/inventory.ini ansible/nginx-install.yml 
            chmod 400 ~/.ssh/ec2_key.pem