name: Terraform + Ansible Deploy

on:
  workflow_dispatch:
    inputs:
        tf_actions:
          description: 'terrsform actions'
          required: true
          default: 'apply'
          type: choice
          options:
            - apply
            - destroy
          
jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-2

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform 
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var="key_name=${{ secrets.EC2_KEY_NAME }}"

      - name: Terraform Apply
        working-directory: terraform
        if: github.event.inputs.tf_actions == 'apply'
        run: |
          terraform apply -auto-approve \
            -var="key_name=${{ secrets.EC2_KEY_NAME }}"
        
      - name: Terraform Destroy
        if: github.event.inputs.tf_actions == 'destroy'
        working-directory: terraform
        run: |
          terraform destroy -auto-approve \
            -var="key_name=${{ secrets.EC2_KEY_NAME }}" 

      - name: Get Terraform Outputs
        id: tf_outputs
        working-directory: terraform
        run: |
         AMAZON_IPS=$(terraform output -json amazon_linux_ips | jq -r '. | join(",")')
         UBUNTU_IPS=$(terraform output -json ubuntu_ips | jq -r '. | join(",")')
         echo "AMAZON_IPS=$AMAZON_IPS" >> $GITHUB_ENV
         echo "UBUNTU_IPS=$UBUNTU_IPS" >> $GITHUB_ENV

      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible

      - name: Setup SSH key
        run: |
            mkdir -p ~/.ssh
            printf "%s\n" "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/ec2_key.pem
            chmod 400 ~/.ssh/ec2_key.pem

      - name: Disable host key checking
        run: echo "Host *\n  StrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Test SSH connectivity
        run: ansible -i inventory.ini all -m ping --private-key ~/.ssh/ec2_key.pem

      - name: Run Ansible Playbook
        run: ansible-playbook -i inventory.ini ansible/nginx-install.yml --private-key ~/.ssh/ec2_key.pem
        env:
            ANSIBLE_HOST_KEY_CHECKING: False

    #   - name: Create Ansible Inventory
    #     run: |
    #       sed -e "s/AMAZON_IP/${AMAZON_IP}/" \
    #           -e "s/UBUNTU_IP/${UBUNTU_IP}/" \
    #           ansible/inventory.ini > inventory.ini
